@import "compass";
@import "climacons-font.scss";
@import "normalize.scss";
@import "magic.scss";

$bgc: #222426;
$fade: #646464;

// Need them responsive images
img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  color: #D1D1D1;
  background-color: $bgc;
  font-family: 'Helvetica Neue', "Helvetica", "Arial", sans-serif;
}

.main-wrap {
  width: 820px;
  margin: 3em auto;
}

.time {
  margin: 1em 0 0.25em 0;
  font-size: 186px;
  text-align: center;
  font-weight: 100;

  .date {
    display: block;
  }
}

.time .date,
.city {
  font-size: 22px;
  font-weight: 200;
  color: $fade;
}

.forecast {
  @include cf;
  text-align: center;

  .forecast-col {
    width: 20%;
    padding: 0 2.5%;
    float: left;

    &:not(.today) {
      margin-top: 66px;
    }

    &:nth-child(1){
      animation-delay: 0.1s;
    }

    &:nth-child(2){
      animation-delay: 0.2s;
    }

    &:nth-child(3){
      animation-delay: 0.3s;
    }

    &:nth-child(4){
      animation-delay: 0.4s;
    }

    &:nth-child(5){
      animation-delay: 0.5s;
    }

    .climacon {
      display: block;
      font-size: 82px;
    }

    .temp {
      @include cf;
      width: 50%;
      margin: -5px auto 5px auto;
      font-size: 24px;

      .high,
      .low {
        width: 50%;
        white-space: nowrap;
      }

      .high {
       float: left;
      }

      .low {
        float: right;
        color: $fade;
      }
    }

    .day-label {
      font-size: 20px;
      font-weight: 200;
    }

    &.today {

      .climacon {
        font-size: 168px;
        line-height: 1;
      }

      .temp {
        font-size: 44px;
      }

      .day-label {
        font-size: 24px;
      }
    }
  }

}

.city {
  margin: 3em 0;
  text-align: center;
}

// Loader

.loader {
  width: 100%;
  height: 100%;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 180px;
  text-align: center;
  color: #161616;

  .compass-wrap {
    width: 192px;
    height: 192px;
    margin: -112px 0 0 -40px;
    display: table-cell;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 999;

    .compass {
      width: 80px;
      height: 192px;
      display: none;
      position: absolute;
      line-height: 1;

      &.animated {
        display: block;
      }

      &.rotate {
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 0.6s;
      }
    }
  }
}

.main-footer {
  padding: 0 2.5%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}


@import "animate.scss";

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation-name: rotate;
}